
    
.submit {
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 10px 0px; 10px 0px; 
}

.button_hidden{
    visibility: hidden;
}

.button_visible {
    visibility: visible;
    }

    
    .section_header_hidden{
        visibility: hidden;
    }

    .section_header_visible{
        visibility: visible;
    } 

   

.search_option {
    margin: 5px;
}
